Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ParagonTwinBlast/Characters/Maps/*
Content/ParagonLtBelica/*
Content/Interface_And_Item_Sounds/*
Content/ModSci_Engineer/*
Content/ModSci_EngiProps/*
Content/ModSciInteriors/*
Content/Audio/*
Content/Blueprints/*
Content/Fx/*
Content/Maps/*
Content/Materials/*
Content/Meshes/*
Content/Sequences/*
Content/Textures/*
Content/ParagonGrux/Characters/Maps/*
Content/ParagonKhaimera/Characters/Global/Feathers/*
Content/ParagonKhaimera/Characters/Global/MaterialFunctions/*
Content/ParagonKhaimera/Characters/Global/MaterialLayers/*
Content/ParagonKhaimera/Characters/Global/Mouth/*
Content/ParagonKhaimera/Characters/Maps/*
Content/ParagonShinbi/*
